@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

@*
<style>
    .myDiv {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
    }
</style>*@
<div class="container">

    <div class="bg-secondary">
        <div class="container text-white">
            <div class="p-3 mb-2 bg-gradient-dark display-4 font-weight-bold">
                Welcome to the world of Books
            </div>
            <div class="p-3 mb-2 bg-gradient-dark">
                When you're a true book-lover like us, there is no end to your literary obsessions, which go far beyond joining book clubs, taking frequent trips to the library, collecting more books than you could ever read in one lifetime. In fact, the only thing bigger than your TBR pile is your bookish buckets list, which includes author-inspired vacations, Harry Potter-themed sight seeing, and these literary events every book-lover wants to go to.
            </div>


            <div class="p-3 mb-2 bg-gradient-dark display-4 font-weight-bold">
                What We Do
            </div>
            <div class="p-3 mb-2 bg-gradient-dark">
                Our mission is to discover talented self-published authors and help them give their work the attention and recognition it deserves. Our primary focus is fiction across a wide range of genres; however, we selectively consider non-fiction books as well.
                We help you to organise the book events.
            </div>
            <div class="p-3 mb-2 bg-gradient-dark display-4 font-weight-bold">
                Be a part of us
            </div>
            <div class="p-3 mb-2 bg-gradient-dark">
                <ul>
                    <li>
                        You just have to create your account here and login.
                    </li>
                    <li>
                        After logging, You can create your own events.
                    </li>
                    <li>
                        you can attend events invited by other organisers.
                    </li>
                    <li>
                        It's easy to land up and enjoy book reading events.
                    </li>
                </ul>
            </div>
            <div class="p-3 mb-2 bg-gradient-dark display-4 font-weight-bold">
                To Know More about us
            </div>
            <div class="p-3 mb-2 bg-gradient-dark">
                You can attend real-life events where a lot of people think of readers as solitary people who prefer to stay in the house alone with a good book than go out into the real world and interact.
                While it may be true that most of the time bibliophiles do prefer a Friday night in with a thriller and a bottle of wine rather than human interaction and putting pants on, we also appreciate any kind of gathering that involves books, authors, and other literary-lovers.
                There's no limit to our love for books.
            </div>


        </div>

    </div>

</div>
