@model IList<Company.Project.Web.Models.EventViewModel>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Home Page"; 
    }
@{ 
    var user = await _userManager.GetUserAsync(User);
    var email = user != null ? user.Email : ""; 
    }


<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4 text-danger font-weight-bold">Welcome!!</h1>
        <div class="row">
            <div class="col-md-6 bg-info">
                <h4><a class="text-dark " href="#previousEvents"> Previous Events</a></h4>
                <div class="row" id="previousEvents">
                    @if (email == "myadmin@bookevents.com")
                     {
                        @foreach (var _event in Model)
                         {
                            @if (_event.Date < DateTime.Now)
                             {
                                <partial name="_EventDetailsIndexPage" model="@_event" />
                             }
                         } 
                     }
                     else
                     {
                         @foreach (var _event in Model)
                          {
                             @if (_event.Date < DateTime.Now && _event.EventType.Equals("Public"))
                              {
                                 <partial name="_EventDetailsIndexPage" model="@_event" />
                              }
                          }
                     }

                </div>

            </div>
            <div class="col-md-6 bg-success">
                <h4><a class="text-dark " href="#upcomingEvents">Upcoming Events</a></h4>
                <div class="row" id="upcomingEvents">
                    @if (email == "myadmin@bookevents.com")
                     {
                         @foreach (var _event in Model)
                          {
                            @if (_event.Date > DateTime.Now)
                             {
                                <partial name="_EventDetailsIndexPage" model="@_event" />
                             }
                          } 
                     }
                     else
                     {
                         @foreach (var _event in Model)
                          {
                            @if (_event.Date > DateTime.Now && _event.EventType.Equals("Public"))
                             {
                                <partial name="_EventDetailsIndexPage" model="@_event" />
                             }
                          }
                     }

                </div>

            </div>
        </div>
    </div>
</div>

