@model Company.Project.Web.Models.SignupModel
@{ 
    ViewData["Title"] = "Signup"; 
    }

<h1 class="text-info font-weight-bold">Sign Up</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="userName" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="userName" class="form-control input-sm" placeholder="Username..." />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="email" class="form-control input-sm" placeholder="Email Address..." />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="password" class="form-control input-sm" placeholder="Password..." />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label text-dark font-weight-bold"></label>
                <input asp-for="confirmPassword" class="form-control input-sm" placeholder="Confirm Password..." />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-info btn-block" />
            </div>
        </form>
        <div>
            <div class="text-dark font-weight-bold"> Click <a asp-controller="Account" asp-action="Login">here</a> to Login</div>
        </div>

    </div>
</div>



